---
import { Icon } from "astro-icon";
// component from flowbite
---

<footer class="p-4 bg-white sm:p-6 dark:bg-zinc-900 mx-auto max-w-6xl sticky top-[100vh] underline-offset-2">
  <div class="md:flex md:justify-between">
    <div class="mb-6 md:mb-0 flex flex-col">
      <a href="/" class="flex items-center" aria-label="mountain icon">
        <Icon name="simple-icons:mcdonalds" class="w-8 h-8" />
        <!-- <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-white ml-3 mt-1">NoFuss</span> -->
      </a>
      <div class="text-base text-zinc-600 dark:text-zinc-300 mt-3">
        <p>Petersen-Hanson Familienrestaurants KG</p>
        <p>HRA 201912 Amtsgericht Tostedt</p>
        <p>USt-Id Nr. DE 815 028 988</p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:space-x-10 text-base">
      <div>
        <h2 class="mb-6 text-sm text-zinc-900 uppercase dark:text-white">Über uns</h2>
        <ul class="text-zinc-800 dark:text-zinc-300">
          <li class="mb-4">
            <a href="/impressum/" class="hover:underline">Impressum</a>
          </li>
          <li>
            <a href="https://www.unserebroschuere.de/PHFR/WebView/" class="hover:underline" target="_blank">Wir lieben es!</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm text-zinc-900 uppercase dark:text-white">Folge uns</h2>
        <ul class="text-zinc-800 dark:text-zinc-300">
          <li class="mb-4">
            <a href="https://www.instagram.com/mcdonaldspetersenhanson/" class="hover:underline" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/McD.PetersenHanson" class="hover:underline" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
