---
import { Icon } from "astro-icon";
---

<header class="bg-white dark:bg-zinc-900 text-lg dark:text-zinc-300 mx-auto max-w-6xl flex flex-row justify-between">
  <a href="/" class="mx-8 my-5 flex items-center" aria-label="Website Logo">
    <Icon name="simple-icons:mcdonalds" class="w-8 h-8" />
  </a>
</header>
<header class="nav-menu hidden bg-white dark:bg-zinc-900">
</header>
